@tailwind base;

@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@700&display=swap");

/* Write your own custom base styles here */
.center {
  margin: 0 auto;
  text-align: center;
}

.angel {
  font-family: "Dancing Script", sans-serif;
  font-size: 5rem;
}

.demon {
  font-family: "Creepster", sans-serif;
  font-size: 5rem;
}

/* Start purging... */
@tailwind components;

/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;

/* Stop purging. */

/* Your own custom utilities */
